.character {
    /* Fill the available container height */
    min-height: 500px;
    max-height: 800px;
    width: 100%;
    left: 0px;
    position: fixed;
    top: 20%;
    z-index: -1;
    bottom: 5%;
    /* width: 50%; */
    /* left: 50%; */
}

@media screen and (min-width: 768px) {
    .character {
        z-index: 0;
        min-height: 500px;
        max-height: 800px;
        width: 50%;
        position: fixed;
        top: 10%;
        left: 50%;
        bottom: 5%;
    }
}